<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageId %>">
    <% include partials/template/header.ejs %>
	  
	  
	  
	  
	  
	  
	  
<div class="container">
	
	<!--GOOGLE MAPS - HAIFA-->
	<div class="map col-sm-4">	
		
		<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:600px;width:1200px;'><div id='gmap_canvas' style='height:600px;width:1200px;'></div><div><small><a href="http://embedgooglemaps.com">Click here to generate your map!</a></small></div><div><small><a href="http://mrdiscountcode.hk/zalora/">Visit This Link!</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(32.7940463,34.98957100000007),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(32.7940463,34.98957100000007)});infowindow = new google.maps.InfoWindow({content:'<strong>Title</strong><br>Israel, Haifa<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
		
 	</div>	
	
	
	
	
	
	
	
	
	
	
	
<div class="col-sm-6">
	
	<!--SUBMIT FORM-->
	
	<form class="contact-form" action="/contact" method="post">
		
              <h3>Contact Form</h3>
		<!--NAME-->
    				<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
					</div>
		<!--EMAIL-->
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
					</div>
		<!--MOBILE-->
					<div class="form-group">
						<label for="mobile">Mobile</label>
						<input type="number" class="form-control" name="mobile" id="mobile" placeholder="Mobile Number" id="contact-form-title" required>
					</div>
		<!--SUBJECT-->
					<div class="form-group">
						<label for="subject">Subject</label>
						<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
					</div>
		<!--MESSAGE-->
                    <div class="form-group">
					<label for="message">Message</label>
                    <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="140" rows="7" required></textarea>
                        <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                    </div>
            
					<button type="submit" id="submit" class="btn btn-primary pull-right" style="margin-top: -30px;" onclick="redirect()">Submit Form</button>
	</form>
		
	</div>
	
	
</div>	<!--END OF CONTAINER-->
		

	  
	  
	  <!--footer-->
  <div class="container-fluid" style="height: 0;">
	  <% include partials/template/footer.ejs %>
  </div>
	  
	  <!--script-->
    <% include partials/template/allJsIncludes.ejs %>
	  
  </body>
</html>










