<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageId %>">
    <% include partials/template/header.ejs %>
	  
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="feedback-form-title">Your feedback is appreciated</h1>
          <form class="feedback-form">
            <div class="form-group">
              <label for="feedback-form-name">Name</label>
              <input type="text" class="form-control" id="feedback-form-name" placeholder="Enter your name" required>
            </div>

            <div class="form-group">
              <label for="feedback-form-title">Title</label>
              <input type="text" class="form-control" id="feedback-form-title" placeholder="Title of your feedback" required>
            </div>

            <div class="form-group">
                <label for="feedback-form-message">Message</label>
                <textarea type="text" placeholder="Enter your message, then hit the submit"  class="form-control" id="feedback-form-message" rows="6" required></textarea>
            </div>
            <button type="submit" class="btn btn-default pull-right">Submit</button>
          </form>
        </div><!-- primary -->
        <aside class="col-sm-8">
          <div class="maincontent feedback">
              <h2 class="article-title">Recent Feedback</h2>
              <div class="feedback-messages"></div>
          </div>
        </aside><!-- END OF ASIDE -->
      </div>
    </div><!-- END OF CONTAINER -->
	  <div class="container-fluid" style="height: 0;">
	  <% include partials/template/footer.ejs %>

	  </div>
	  
    <% include partials/template/allJsIncludes.ejs %>
  </body>
</html>