<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
	
	<!--To ensure proper rendering and touch zooming-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <title><%= siteTitle %>--<%= pageTitle %></title>
	
	<link href="/css/bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"  media="all">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
	<link href="/css/style.css" rel="stylesheet">
	
</head>
<body>

<div class="container-fluid" >
				<!----------------------------------FULLSTACK LOGO----------------------------------->
			<div class="row">
				<div class="col-sm-10">
						
					<img src="/images/fullstackdeveloper.png" class="imgfullstack">
		
				</div>
				<div class="col-sm-2">
					<p style="color: #fff; font-size: 15px;"><span class="collig">Phone:</span>&nbsp; &nbsp; &nbsp; 0506374363</p>
					<p style="color: #fff; font-size: 15px;"><span class="collig">Email:</span><a href="https://mail.google.com/mail/?view=cm&fs=1&to=awwadmarlen@gmail.com" style="color: white; font-size: 15px; margin: 0;" target="_blank">awwadmarlen@gmail.com</a></p>
				</div>
			</div> <!--End of ROW-->

			
			
			  <!-------------------------------NAV-BAR---------------------------------------------->	
			<nav class = "navbar navbar-inverse" role = "navigation">

				   <div class = "navbar-header">
					   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="sr-only">Toggle navigation</span>
					  </button>   
					  <a class = "navbar-brand" href = "//localhost:3000">
						 <img src="/images/marlen.jpg" class="img-circle"> 
						 <img src="/images/marlen_text_effect.png" class="marlen-text-effect">
					  </a> 
				   </div>

				   <div class="collapse navbar-collapse" id="navbar-collapse-1">
				   <div>
					  <ul class = "nav navbar-nav navbar-right">
						 <li><a href = "//localhost:3000/aboutme">About Me</a></li>
						  <li><a href = "//localhost:3000/skills">Skills</a></li>
						 <li class = "dropdown">
							<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
							   Projects 
							   <b class = "caret"></b>
							</a>
							<ul class = "dropdown-menu">
							  <li><a href = "//localhost:3000">Collection/ShoppingCart</a></li>
							   <!--<li><a href = "#">Angular</a></li>
							   <li><a href = "#">Mongodb</a></li>
							   <li><a href = "#">Express.js</a></li>-->
							   <li class = "divider"></li>
							   <li><a href = "//localhost:3000">Fake Website</a></li>
							   <li class = "divider"></li>
							   <li class = "divider"></li>
							</ul>
						 </li>
						  <li><a href = "//localhost:3000/chat">Chat</a></li> 
						<li><a href = "//localhost:3000/feedback">Leave a feedback</a></li>
						<li><a href = "//localhost:3000/contact"><span class="glyphicon glyphicon-user"></span></a></li>
					  </ul>
				   </div>
				  </div>
				
			   </nav> <!--End of NAV BAR-->
	<!------------------------------------------------------BODY------------------------------------------------------------->
	<div class="myskills">
			<h2>My Skills</h2>
	</div>
	
	
	<div class="skillbar clearfix " data-percent="80%">
		<div class="skillbar-title" style="background: #000;"><span>MeanStack</span></div>
		<div class="skillbar-bar" style="background: #212121;"></div>
		<div class="skill-bar-percent">80%</div>
	</div> <!-- End Skill Bar -->

	<div class="skillbar clearfix " data-percent="70%">
		<div class="skillbar-title" style="background: #000;"><span>PHP</span></div>
		<div class="skillbar-bar" style="background: #262525;"></div>
		<div class="skill-bar-percent">70%</div>
	</div> <!-- End Skill Bar -->

	<div class="skillbar clearfix " data-percent="80%">
		<div class="skillbar-title" style="background: #000;"><span>JavaScript</span></div>
		<div class="skillbar-bar" style="background: #262525;"></div>
		<div class="skill-bar-percent">80%</div>
	</div> <!-- End Skill Bar -->
	
	<div class="skillbar clearfix " data-percent="90%">
		<div class="skillbar-title" style="background: #000;"><span>Bootstrap</span></div>
		<div class="skillbar-bar" style="background: #262525;"></div>
		<div class="skill-bar-percent">90%</div>
	</div> <!-- End Skill Bar -->

	<div class="skillbar clearfix " data-percent="100%">
		<div class="skillbar-title" style="background: #000;"><span>HTML5</span></div>
		<div class="skillbar-bar" style="background: #262525;"></div>
		<div class="skill-bar-percent">100%</div>
	</div> <!-- End Skill Bar -->

	<div class="skillbar clearfix " data-percent="100%">
		<div class="skillbar-title" style="background: #000;"><span>CSS3</span></div>
		<div class="skillbar-bar" style="background: #262525;"></div>
		<div class="skill-bar-percent">100%</div>
	</div> <!-- End Skill Bar -->
	
    <% include partials/template/footer.ejs %>

	
</div>	<!--END OF CONTAINER-FLUID-->
	
	
<script src="/javascript/jquery-3.1.0.js"></script>
<script src="/javascript/animation.js"></script>
<script src="/css/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	
</body>
</html>