		  <!------------------------------------------------------------FOOTER---------------------------------------------------->
		 
		  <div class="row">
			  <div class="footer">
				  <h4>© Marlen Awwad 2017 </h4>
					  <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offet-2 col-xs-10 col-xs-offset-2">

					  <ul class="social-icon animate pull-right">
						  <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
						  </li> <!-- change the link to social page and edit title-->
						  <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
						  </li>
						  <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						</ul>

					  </div>
			  </div><!--END OF FOOTER-->
		  </div>