		  <!------------------------------------------------------------FOOTER---------------------------------------------------->
		 
		  <div class="row">
			  <div class="footer">
				  <h4>© Marlen Awwad 2017 </h4>
					  <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offet-2 col-xs-10 col-xs-offset-2">

					  <ul class="social-icon animate pull-right">
						  <li><a href="https://www.facebook.com/marlenAwwad" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
						  </li> <!-- change the link to social page and edit title-->
						  <li><a href="https://github.com/MarlenAw" title="twitter" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
						  </li>
						  <li><a href="https://bitbucket.org/marlenawwad/" title="google plus" target="_blank"><i class="fa fa-bitbucket" aria-hidden="true"></i></a></li>
<!--
						   <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=awwadmarlen@gmail.com" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
						  </li>
-->
						</ul>

					  </div>
			  </div><!--END OF FOOTER-->
		  </div>